@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3aPw.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoC1CzTtw.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgo6eA.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* Variables */
/* Mixins */
.border-radius-full {
  border-radius: 5px;
}
.border-radius-top {
  border-radius: 5px 5px 0 0;
}
.border-radius-bottom {
  border-radius: 0 0 5px 5px;
}
.flex-even {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Global Styles */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}
/* General Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
}
h1 {
  font-size: 3rem;
  margin: 20px 0;
}
h2 {
  font-size: 2.2rem;
  margin: 15px 0;
}
h3 {
  font-size: 1.8rem;
}
p,
img {
  font-size: 1.6rem;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.4;
}
a {
  text-decoration: none;
  color: white;
}
/* Page Styles */
body {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  background: #434156;
}
body .break {
  width: 100%;
  height: 1px;
  opacity: 0.2;
  border: 1px solid black;
  margin: 40px 0 0 0;
}
body nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 0 80px 0;
}
body nav div {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
body nav .navigation {
  margin-top: 20px;
}
body nav .navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 50%;
  margin: 0 auto;
}
body nav .navigation ul li a {
  font-size: 2rem;
}
body nav .navigation ul li a:hover {
  color: #E57A70;
}
body .page-top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}
body .page-top .container {
  width: 40%;
}
body .page-top .skills {
  box-shadow: 0px 0px 5px #1D1A31;
  width: 400px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #1D1A31;
}
body .page-top .skills .odd-row {
  background-color: #151324;
}
body .page-top .skills .skill-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 10px 5px;
}
body .page-top .skills .skill-row .skill-name {
  width: 50%;
}
body .page-top .skills .skill-row .skill-name h3 {
  width: 100%;
  text-align: center;
}
body .page-top .skills .skill-row .skill-level {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 50%;
}
body .page-top .skills .skill-row .skill-level .skill {
  padding: 10px;
  border: 1px solid #dd5245;
  border-radius: 50%;
}
body .page-top .skills .skill-row .skill-level .point {
  background-color: #E57A70;
  border-color: white;
}
body .page-top .skills .skill-row .skill-level .empty {
  background-color: #fdf2f1;
  border-color: #eda29b;
}
