@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgo6eA.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* Variables */
/* Mixins */
.border-radius-full {
  border-radius: 10px;
}
.border-radius-top {
  border-radius: 10px 10px 0 0;
}
.border-radius-bottom {
  border-radius: 0 0 10px 10px;
}
.flex-even {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
/* General Styles */
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
}
/* Page Styles */
body {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  background: #434156;
}
body .skills {
  color: white;
  box-shadow: 0px 5px 5px #1D1A31;
  width: 350px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #1D1A31;
}
body .skills .odd-row {
  background-color: #090810;
}
body .skills .skill-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 5px;
}
body .skills .skill-row .skill-name {
  width: 50%;
}
body .skills .skill-row .skill-name h3 {
  width: 100%;
  text-align: center;
}
body .skills .skill-row .skill-level {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
body .skills .skill-row .skill-level .skill {
  padding: 10px;
  border: 1px solid #dd5245;
  border-radius: 50%;
}
body .skills .skill-row .skill-level .point {
  background-color: #E57A70;
  border-color: white;
}
body .skills .skill-row .skill-level .empty {
  background-color: #fdf2f1;
  border-color: #eda29b;
}
