@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Ubuntu:wght@300;400&display=swap');

// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Variables */

@background-color: #434156;
@shadow-color: #1D1A31;
@skill-point-color: #E57A70;
@row-highlight-color: #1D1A31;
@font-header: 'Ubuntu', sans-serif;
@font-text: 'Source Sans Pro', sans-serif;
@font-color: white;
@border-radius: 5px;

/* Mixins */

.border-radius-full {
	border-radius: @border-radius;
}

.border-radius-top {
	border-radius: @border-radius @border-radius 0 0;
}

.border-radius-bottom {
	border-radius: 0 0 @border-radius @border-radius;
}

.flex-even {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
}

.flex-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global Styles */
* {
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	color: @font-color;
	font-family: @font-text;
}


/* General Styles */

h1, h2, h3, h4, h5, h6 {
	font-family: @font-header;
}

h1 {
	font-size: 3rem;
	margin: 20px 0;
}

h2 {
	font-size: 2.2rem;
	margin: 15px 0;
}

h3 {
	font-size: 1.8rem;
}

p, img {
	font-size: 1.6rem;
	font-family: @font-text;
	line-height: 1.4;
}

a {
	text-decoration: none;
	color: @font-color;
}
/* Page Styles */

body {
	height: 100%;
	width: 80%;
	margin: 0 auto;
	background: @background-color;

	.break {
		display: block;
		width: 100%;
		height: 1px;
		opacity: .2;
		border: 1px solid black;
		margin: 40px 0 0 0;
	}

	.hide {
		display: none;
	}

	nav {
		.flex-column();
		margin: 20px 0 80px 0;

		div {
			width: 100%;
			margin: 0 auto;
			text-align: center;
		}
		.navigation {

			margin-top: 20px;

			ul {
				.flex-even();
				width: 50%;
				margin: 0 auto;
			
				li a {
					font-size: 2rem;
					
					&:hover {
					color: @skill-point-color;
					}
				}
			}
		}
	}

	.main-content {
		.flex-even();

		.container {
			width: 40%;
		}

		.skills {
			box-shadow: 0px 0px 5px @shadow-color;
			width: 400px;
			overflow: hidden;
			.border-radius-full();
			background-color: @row-highlight-color;
	
			.odd-row {
				background-color: darken(@row-highlight-color, 4%);
			}
	
			.skill-row {
				.flex-even();
				padding: 10px 5px;
	
	
				.skill-name {
					width: 50%;
		
					h3 {
						width: 100%;
						text-align: center;
					}
				}
		
				.skill-level {
					.flex-even();
					width: 50%;
		
					.skill {
						padding: 10px;
						border: 1px solid darken(@skill-point-color, 10%);
						border-radius: 50%;
					}
		
					.point {
						background-color: @skill-point-color;
						border-color: white;
					}
		
					.empty {
						background-color: lighten(@skill-point-color, 30%);
						border-color: lighten(@skill-point-color, 10%);
					}
				}
			}
		}
	
	}

	footer {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	
}

