@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Variables */

@background-color: #434156;
@shadow-color: #1D1A31;
@skill-point-color: #E57A70;
@row-highlight-color: #1D1A31;
@font-header: 'Ubuntu', sans-serif;
@border-radius: 10px;

/* Mixins */

.border-radius-full {
	border-radius: @border-radius;
}

.border-radius-top {
	border-radius: @border-radius @border-radius 0 0;
}

.border-radius-bottom {
	border-radius: 0 0 @border-radius @border-radius;
}

.flex-even {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}


/* General Styles */

h2, h3, h4, h5, h6 {
	font-family: @font-header;
}

/* Page Styles */

body {
	height: 100%;
	width: 80%;
	margin: 0 auto;
	background: @background-color;

	.skills {
		color: white;
		box-shadow: 0px 5px 5px @shadow-color;
		width: 350px;
		overflow: hidden;
		.border-radius-full();
		background-color: @row-highlight-color;

		.odd-row {
			background-color: darken(@row-highlight-color, 10%);
		}

		.skill-row {
			.flex-even();
			padding: 10px 5px;


			.skill-name {
				width: 50%;
	
				h3 {
					width: 100%;
					text-align: center;
				}
			}
	
			.skill-level {
				.flex-even();
				width: 50%;
	
				.skill {
					padding: 10px;
					border: 1px solid darken(@skill-point-color, 10%);
					border-radius: 50%;
				}
	
				.point {
					background-color: @skill-point-color;
					border-color: white;
				}
	
				.empty {
					background-color: lighten(@skill-point-color, 30%);
					border-color: lighten(@skill-point-color, 10%);
				}
			}
		}
	}

	
}

